<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>AnimalCadastraServlet</display-name>
    <servlet-name>AnimalCadastraServlet</servlet-name>
    <servlet-class>br.com.veterinaria.model.view.AnimalCadastraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnimalCadastraServlet</servlet-name>
    <url-pattern>/AnimalCadastraServlet</url-pattern>
  </servlet-mapping>
  <display-name>Veterinaria</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AnimalEditarServlet</display-name>
    <servlet-name>AnimalEditarServlet</servlet-name>
    <servlet-class>br.com.veterinaria.model.view.AnimalEditarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnimalEditarServlet</servlet-name>
    <url-pattern>/AnimalEditarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FichaMedicaCadastraServlet</display-name>
    <servlet-name>FichaMedicaCadastraServlet</servlet-name>
    <servlet-class>br.com.veterinaria.model.view.FichaMedicaCadastraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FichaMedicaCadastraServlet</servlet-name>
    <url-pattern>/FichaMedicaCadastraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServicoDeletaServlet</display-name>
    <servlet-name>ServicoDeletaServlet</servlet-name>
    <servlet-class>br.com.veterinaria.model.view.ServicoDeletaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServicoDeletaServlet</servlet-name>
    <url-pattern>/ServicoDeletaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServicoCadastraServlet</display-name>
    <servlet-name>ServicoCadastraServlet</servlet-name>
    <servlet-class>br.com.veterinaria.model.view.ServicoCadastraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServicoCadastraServlet</servlet-name>
    <url-pattern>/ServicoCadastraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonoAnimalCadastroServlet</display-name>
    <servlet-name>DonoAnimalCadastroServlet</servlet-name>
    <servlet-class>br.com.veterinaria.model.view.DonoAnimalCadastroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonoAnimalCadastroServlet</servlet-name>
    <url-pattern>/DonoAnimalCadastroServlet</url-pattern>
  </servlet-mapping>
</web-app>